version: '3'

services:

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: msd_backend
    ports:
      - "127.0.0.1:8001:8000"
    restart: always

  frontend:
    image: nginx:latest
    container_name: msd_frontend
    volumes:
      - ./frontend:/usr/share/nginx/html
    restart: always
